<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead class="gridTitle">
            <tr>
                <th *ngFor="let col of columns"><a (click)="sort(col.id)">{{col.name}}</a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td class="colText" *ngFor="let col of columns">{{row[col.id]}}</td>
                <td class="colText">
                    <a href="javascript:void(0);" (click)="select(row)" title="Editar"><span class="glyphicon glyphicon-edit"></span></a> &nbsp;
                    <a href="javascript:void(0);" (click)="details(row)" title="Detalles"><span class="glyphicon glyphicon-list-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead class="gridTitle">
            <tr>
                <th *ngFor="let col of columns"><strong><a (click)="sort(col.id)">{{col.name}}</a><strong></th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let row of rows">
                 <td class="colText" *ngFor="let col of columns">{{row[col.id]}}</td>
                 <td class="colText">
                    <a href="javascript:void(0);" (click)="select(row)" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                    &nbsp;
                    <a href="javascript:void(0);" (click)="details(row)" title="Detalles"><span class="glyphicon glyphicon-list-alt"></span></a>
                </td>
             </tr>
         </tbody>
     </table>
</div>