<div style="width:100%;">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h3><span class="title">Generando reporte para la solicitud {{examId}}...</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img *ngIf="isLoading" src="/assets/spin.svg" width="24" height="24" />
                <div *ngIf="message" class="alert alert-danger" [innerHTML]="message"></div>
            </div>
        </div>
    </div>
</div>