<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="StringConexion" connectionString="Data Source=172.29.16.53; Initial Catalog=basdat; User=sa; password=@dmin160908C3di"/>
    <add name="basdat_Connection" connectionString="XpoProvider=MSSqlServer;data source=172.29.16.53;user id=sa;password=@dmin160908C3di;initial catalog=basdat;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="PdfFolder" value="D:\vista360\labonline\src\src\LabOnline.UI\wwwroot\pdf\"/>
    <!--Configuración Ruta escaneo  terceros-->
    <add key="imageStoragePath" value="\\172.29.16.88\Patologias_laboratorio\Terceros"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ApiServiceBehavior"
               name="LabOnline.Integration.ExamService">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="LabOnline.Integration.IExamService"
                  behaviorConfiguration="web">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/api/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ApiServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>